.alert.alert-info.sj4webtofreedelivery {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 120%;
    padding: 0.75rem;
    font-size:1rem;
}
.alert.alert-info.sj4webtofreedelivery {
    padding-left: 2.5rem;
}
.alert.sj4webtofreedelivery p {
    font-size: 0.875em!important;
    margin-bottom: 0;
}
